{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
        <tbody>

            <tr>
                <td colspan="3">CASH</td>
                <td>$10,000.00</td>
            </tr>
        </tbody>
    </table>

{% endblock %}