body {
    font-family: Nunito;
    background-color: black;
    color: white;
}

.main h1 {
    font-weight: 600;
    font-size: 1in;
    text-align: center;
    padding-bottom: 280px;
    padding-top: 280px;
    color: white;
}

.main {
    font-size: 1.5rem;
    font-weight: 100;
    /* background-color: black; */
}


.nav1 {
    /* padding: 20px; */
    margin-left: 10px;
    font-weight: 300;
    font-size: 1.5em;
}

.card1 {
    background-color: aquamarine;
    float: left;

}

.button1 {
    background-color: rgb(38, 179, 132);
    margin-right: 5px;
}

.card2 {
    padding-top: 200px;
    text-align: center;
    float: right;
}

.drop1 {
    list-style: none;
    color:black;
}

.input-group {
    padding-top: 20px;
    width: 75%;
    align-items: center;
}

.container h1 {
    padding-top: 10px;
}

.form-control {
    padding:10px;
}

.bg {
    background-color: aquamarine;
    color: black;
}

.drop2 {
    font-family: nunito;
    color: gray;
}

.book1 {
    margin-bottom: 20px;
}

.button2 {
    background-color: rgb(38, 179, 132);
    padding:10px;
}

.bg1 {
    color:white;
    font-family: Nunito;
}

/* .centre {
    padding:100px;
    padding-left: 350px;
} */

.header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 950px;
}

.register{
    padding-top:300px;
    text-align: center;
}

.head1 {
    font-weight: 800;
}

.icon {
    color:white;
    font-size: larger;
}

.heading {
    font-size: 1in;
    font-family: nunito;
    font-weight: 800;
    text-align: center;
} 		