<!DOCTYPE html>
<html>
<head>
  <title>LIBRARY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg">
    <a class="navbar-brand" href="/"><b>LIBRARY</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   			<span class="navbar-toggler-icon"></span>
   		</button>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/explore">Explore</a>
              </li>
            </ul>
        </div>
    </nav>

    <div class="container">
      <img class="image center" src="static/about.jpeg" alt="...">
      <!-- <div class="row"> -->
          <div class="about1">
              <h3 class="card-title"><b>ABOUT ADITHYA</b></h3>
              <br>
              <div style="float: left;">
                <a href="https://www.instagram.com/adithya_neelakantan/" class="button3 fa fa-instagram"></a> 
                <a href="https://twitter.com/neelstrongarm" class="button3 fa fa-twitter"></a> 
                <a href="https://in.linkedin.com/in/adithya-neelakantan-a7a406189" class="button3 fa fa-linkedin-square"></a> 
                <a href="https://github.com/neelstrongarm" class="button3 fa fa-github"></a>
              </div>
               
          </div>
          <div class="about2">
            <h3 class="card-title"><b>ABOUT HRISHIKESH</b></h3>
            <br>
            <div style="float: right;">
              <a href="https://www.instagram.com/the__ramukaka/" class="button3 fa fa-instagram"></a> 
              <a href="https://twitter.com/hrishi12696078" class="button3 fa fa-twitter"></a> 
              <a href="https://in.linkedin.com/in/hrishikesh-mulkutkar-8907b5191" class="button3 fa fa-linkedin-square"></a> 
              <a href="https://github.com/Hrishikesh-3459" class="button3 fa fa-github"></a>
            </div> 
        </div>            
      </div>
		<!-- </div> -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
