<!-- Webpage to show an error message when the user provides invalid or no input at all -->
<!DOCTYPE html>

<html lang="en">
   <head>
   <title>
       Error!
   </title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="static/styles.css">

    </head>
   <body>
       <div class="container">
           <form action="/homepage">
               <button class=button1 type="submit" method="GET">Home</button>
           </form>

            <h1 class = "heading">ERROR</h1>    
               <img src= "static\dog.jpg" alt= "Picture of a dog" style="width: 500px;height:500px;" />
               <!-- The message that appears on the bottom of the image is dependant on the type of error. -->
               <div class = "bottom-right">{{ bottom }}</div> 
       </div>    
   </body>
</html> 