<!DOCTYPE html>
<html>
<head>
	<link href="static/favicon.ico" rel="icon">
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg">
        <a class="navbar-brand" href="/"><b>LIBRARY</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   			<span class="navbar-toggler-icon"></span>
   		</button>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="/about">About Us</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
            </ul>
        </div>
	</nav>
	
    <div class="header1" style="background-image: url('static/loginBook.jpg');">
		<div class="container centre">
			<form action="/signUp" method="post">
				<h1><b>SIGN UP</b></h1>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">First Name</span>
					</div>
					<input type="text" aria-label="First name" class="form-control" name="first_name" required>
				</div>
				<!-- <div class="form-group">
					<span class="input-group-text">Email ID</span>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					<small id="emailHelp" class="form-text text-muted">We won't share your email with anyone else.</small>
				</div> -->
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
					<span class="input-group-text" id="addon-wrapping">email ID</span>
					</div>
					<input type="email" class="form-control" aria-label="email" aria-describedby="addon-wrapping" name="email">
				</div>
				
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Username</span>
					</div>
					<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="username">
				</div>

				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
					<label for="exampleInputPassword1" class="input-group-text" id="addon-wrapping">Password</label>
					</div>
					<input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
				</div>
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
					<label for="exampleInputPassword1" class="input-group-text" id="addon-wrapping"> Confirm Password</label>
					</div>
					<input type="password" class="form-control" id="exampleInputPassword1" name="confirmation"  required>
				</div>

				<button type="submit" style="margin-top: 20px;" class="btn button1"><b>Submit</b></button>
			</form>
		</div>
	</div>
   
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
